# Import Liberaries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

# Import Datasets

In [2]:
path= '/content/KPMG_VI_New_raw_data_update_final.xlsx'

In [3]:
df_transactions= pd.read_excel(path, sheet_name= 'Transactions', skiprows= 1)

In [4]:
df_NewCustomerList= pd.read_excel(path, sheet_name= 'NewCustomerList', skiprows= 1)

In [5]:
df_CustomerDemographic= pd.read_excel(path, sheet_name= 'CustomerDemographic', skiprows= 1)

In [6]:
df_CustomerAddress= pd.read_excel(path, sheet_name= 'CustomerAddress', skiprows= 1)

In [7]:
df_transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [8]:
df_NewCustomerList.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.89,0.8900,1.1125,0.945625,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.01,1.0100,1.0100,1.010000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.87,1.0875,1.0875,1.087500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.52,0.5200,0.6500,0.650000,4,4,1.703125

In [9]:
df_CustomerDemographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [10]:
df_CustomerAddress.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

# Data Cleaning

## Cleaning df_transactions

In [11]:
df_transactions.sample(5)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
13712,13713,86,759,2017-02-17,NaN,Approved,Norco Bicycles,Road,high,large,774.53,464.72,37698.0
15912,15913,40,818,2017-03-22,1.0,Approved,OHM Cycles,Standard,high,medium,1458.17,874.90,38750.0
3814,3815,89,1115,2017-10-06,0.0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,38750.0
4522,4523,98,2566,2017-12-13,1.0,Approved,Trek Bicycles,Standard,high,medium,358.39,215.03,33364.0
4292,4293,31,3230,2017-10-22,1.0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,39031.0

In [12]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [13]:
# convert [0, 1] in online_order column to bool values 0 = Fasle & 1 = True
print(f"sum of null values after convert= {(df_transactions['online_order'].astype(bool)).isna().sum()}")

# convert to bool
df_transactions['online_order']= df_transactions['online_order'].astype(bool)

# check it is converted
print(f"data type: {df_transactions['online_order'].dtype}")

sum of null values after convert= 0
data type: bool

In [14]:
# rename column product_first_sold_date

df_transactions.rename(columns= {'product_first_sold_date': 'f_sold_date'}, inplace= True)

In [15]:
# sum of null values before convert
print(f"sum of null before= {df_transactions['f_sold_date'].isna().sum()}")

# calculate sum of null values after convert
print(f"sum of null after= {pd.to_datetime(df_transactions['f_sold_date'], format= 'mixed').isna().sum()}")

# convert to datetime
df_transactions['f_sold_date']= pd.to_datetime(df_transactions['f_sold_date'], format= 'mixed')

# check converted
print(f"data type: {df_transactions['f_sold_date'].dtype}")

sum of null before= 197
sum of null after= 197
data type: datetime64[ns]

In [18]:
# check data entegrity

for col in df_transactions.columns:
  if (df_transactions[col].dtypes == 'object') & (len(df_transactions[col].unique()) <= 15):
    print(f"column name: {col}\n")
    print(f"unique values: {df_transactions[col].unique()}\n")

column name: order_status

unique values: ['Approved' 'Cancelled']

column name: brand

unique values: ['Solex' 'Trek Bicycles' 'OHM Cycles' 'Norco Bicycles' 'Giant Bicycles'
 'WeareA2B' nan]

column name: product_line

unique values: ['Standard' 'Road' 'Mountain' 'Touring' nan]

column name: product_class

unique values: ['medium' 'low' 'high' nan]

column name: product_size

unique values: ['medium' 'large' 'small' nan]

In [36]:
# check if there is a valid fill value by product id

print(f"unique product_id column values id df_transactions with product_size values equal null:\n\
{df_transactions[df_transactions['product_size'].isna()]['product_id'].unique()}")

unique product_id column values id df_transactions with product_size values equal null:
[0]

In [44]:
# drop records that include null values in product_id column
df_transactions.dropna(axis= 'index', subset= 'product_id', inplace= True)

# check
print(f"sum of null values in product_id column= {df_transactions['product_id'].isna().sum()}")

sum of null values in product_id column= 0

In [50]:
# check with product_size column

print(f"unique values of product_id column when product_size values equal null= {df_transactions[df_transactions['product_size'].isna()]['product_id'].unique()}")

unique values of product_id column when product_size values equal null= [0]

In [53]:
print(df_transactions[df_transactions['product_id'] == 0].isna().sum())

transaction_id        0
product_id            0
customer_id           0
transaction_date      0
online_order          0
order_status          0
brand               197
product_line        197
product_class       197
product_size        197
list_price            0
standard_cost       197
f_sold_date         197
dtype: int64

In [60]:
df_transactions[(df_transactions['product_id'] == 0) & (df_transactions['product_size'].isna() == False)]['product_size'].unique()

array(['medium', 'large', 'small'], dtype=object)